@model CafeDAL.Models.Products

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header"><h1>Products details</h1></div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExpirationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SupplierId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SupplierId)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
